$gray: lightgray;
$gray2: #808080;
$gray3: #595959;
$titleWhite: whitesmoke;
body {
    font-family: Open Sans;
    background-color: $gray;
    font-size: 16px;
}

.content {
    background-color: inherit;
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
}

.connection {
    padding: 25px;
    background-color: white;
    color: black;
    text-align: 'center';
    display: none;
    color: darkslategray;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 25px;
    box-shadow: 5px 11px 30px darkgray;
    border-radius: 6px;
    transform: translate(-50%, -50%);
    & input[type=date] {
        display: none;
    }
    & button:hover {
        cursor: pointer;
    }
}

.main {
    display: none;
}

.main__content {
    top: 64px;
    display: flex;
    background-color: $gray;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    margin: 0;
    & > fieldset {
        box-sizing: border-box;
        border-radius: 6px;
        height: 350px;
        width: 300px;
        padding: 10px;
        max-height: 350px;
        width: 310px;
        position: relative;
    }
}

.card__add {
    border: dashed 6px $gray3;
    margin: 30px;
    & > div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
        background-color: $gray;
        height: 100%;
        & > div {
            height: 60px;
            width: auto;
            font-size: 40px;
            color: $gray2;
        }
    }
}

.card__add:hover {
    background-color: $gray2;
    cursor: pointer;
    &:hover div {
        background-color: $gray2;
        color: darkgray;
        cursor: pointer;
    }
}

.card {
    background-color: whitesmoke;
    border-top: solid 6px black;
    margin: 20px;
    & > .card__edit {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: none;
        text-align: center;
        border-radius: 50%;
        z-index: 200;
        background-color: blue;
        & > button {
            color: ghostwhite;
            font-size: 20px;
        }
    }
    &:hover {
        box-shadow: 7px 11px 23px darkgray;
        & > .card__edit {
            display: block;
            &:hover {
                box-shadow: 6px 6px 20px darkgray;
            }
        }
    }
    & > legend {
        font-weight: bolder;
        font-size: 22px;
        border-radius: 6px;
        background-color: black;
        color: whitesmoke;
        margin-left: 10px;
        padding: 15px;
    }
}

.card__description {
    color: darkgray;
    line-height: 27px;
    font-size: 14px;
    width: auto;
    height: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__products {
    background-color: floralwhite;
    color: black;
    border: solid 1px #595959;
    border-radius: 2px;
    box-sizing: content-box;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-between;
    & > span {
        box-shadow: 2px 2px 6px lightgray;
        border-radius: 4px;
        background-color: darkgray;
        color: black;
        padding: 5px;
        margin: 2px 2px;
    }
}
