@media (max-width: 767px) {}

@media (min-width: 768px) {}

@media (min-width: 768px) {}

.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 3rem;
    position: absolute;
    top: 2%;
    right: 0.5%;
    text-decoration: none;
}

.modal .btn-close:hover,
.modal .btn-close:focus {
    color: #999;
}

.modal-wrap:before {
    content: '';
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
}

.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}

.modal-open:checked ~ .modal-wrap .modal-dialog {
    transform: translate(-50%, -50%);
    position: fixed;
    top: 40%;
}

.modal-dialog {
    background: #fefefe;
    border: #555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translate(-50%, -150%);
    transition: transform 0.6s ease-in-out;
    width: 80%;
    max-width: 800px;
    max-height: 800px;
    box-sizing: border-box;
    z-index: 103;

    & + textarea {
        overflow: auto;
        text-overflow: ellipsis;
        margin-bottom: 5px;
    }
}

.modal-body {
    padding: 20px;
    & select {
        width: 100%;
    }
}

.modal-body p {
    margin: 0;
    & span.prod:hover {
        background-color: red;
        color: white;
        content: "-";
    }
}

.modal-header,
.modal-footer {
    padding: 20px 20px;
}

.modal-header {
    border-bottom: #eaeaea solid 1px;
}

.modal-header input {
    font-size: 2rem;
    margin: 0;
}

.modal-footer {
    border-top: #eaeaea solid 1px;
    text-align: right;
}

.btn-primary {
    color: whitesmoke;
    border-radius: 4px;
    margin: 0px 5px;
    display: inline;
}

.btn-validate {
    @extend .btn-primary;
    background-color: forestgreen;
}

.btn-delete {
    @extend .btn-primary;
    background-color: #ff0000;
}
